*,
::after,
::before {
    box-sizing: border-box;
}

body {
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 100%;
    margin: 0;
}

h1,
h2 {
    font-family: "Play", sans-serif;
    margin: 0;
}

h3,
p,
a,
li {
    margin: 0;
}

a {
    display: inline-block;
}

address {
    font-style: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}