:root {
    --color-primary-dark: #011c44;
    --color-primary-normal: #2b7fff;
    --color-primary-light: #ffffff;
    --color-secondary-gray-dark: #4a4a4a;
    --color-secondary-gray-light: #747272;
    --color-secondary-blue: #011f4a;
    --color-secondary-yellow: #ffd02b;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;