@use '../utils/' as *;

.btn {
    border-radius: 32px;
    padding: 12.5px 24px;
    border: 2px solid var(--color-primary-normal);
    color: var(--color-primary-light);
    background: var(--color-primary-normal);
    font-weight: 600;
    font-size: 16px;

    @media screen and (min-width: $bp-desktop) {
        padding: 16px 32px;
        font-size: 18px;
    }

    &:hover {
        color: var(--color-primary-dark);
        background: transparent;
        border: 2px solid var(--color-primary-normal);
        cursor: pointer;
    }

    &__description {
        padding-top: 8px;
        font-size: 11px;
        line-height: 18px;

        @media screen and (min-width: $bp-desktop) {
            font-size: 12px;
            padding-top: 14px;
            text-align: center;
            width: 222px;
        }
    }
}