@use '../utils/' as *;

.procedure-card {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 456px;
    background: linear-gradient(180.05deg,
            rgba(1, 28, 68, 0) 48.53%,
            rgba(1, 28, 68, 0.725825) 84.61%,
            #011c44 101.39%);
    border-top-left-radius: 4px;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 120px;

    &__title {
        max-width: 152px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: var(--color-primary-light);
        margin-bottom: 24px;

        @media screen and (min-width: $bp-tablet) {
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 32px;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-top-left-radius: 4px;
        border-top-right-radius: 120px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 120px;
    }
}