@use '../utils/' as *;

.advantages-section {
    &__container {
        padding-top: 160px;
        padding-bottom: 40px;

        @media screen and (min-width: $bp-tablet) {
            padding-top: 176px;
            padding-bottom: 96px;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            font-weight: 700;
            font-size: 64px;
            text-align: center;
        }

        @media screen and (min-width: $bp-desktop) {
            margin-top: 50px;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        justify-content: center;
        margin-top: 24px;

        @media screen and (min-width: $bp-tablet) {
            display: flex;
            flex-direction: row;
            gap: 56px;
            justify-content: center;
            margin-top: 48px;
        }
    }

    &__item {
        max-width: 316px;
        border-radius: 32px;
        background-color: var(--color-primary-light);
        box-shadow: 0px 4px 4px 0px #A8C6F561;
        padding: 24px 32px;
        text-align: center;
    }

    &__item p {
        font-size: 18px;
        font-weight: 400;
        line-height: 100%;
        padding-top: 12px;
        margin: 0;
        line-height: 24px;
        letter-spacing: 0%;

        @media screen and (min-width: $bp-tablet) {
            line-height: 24px;
            padding-top: 8px;
        }
    }

    &__icon {
        fill: var(--color-primary-normal);
    }
}