@use '../utils/' as *;

.contact-section {
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        gap: 24px;

        @media screen and (min-width: $bp-tablet) {
            width: 100%;
            justify-content: space-between;
            flex-direction: row;
            padding: 48px 58px 96px;
            gap: 32px;
        }
    }

    &__title {
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 0;
            font-weight: 700;
            font-size: 64px;
            line-height: 100%;
            text-align: center;
        }
    }

    &__map {
        flex: 1;
        flex-shrink: 0;
        border: none;
        max-height: 232px;
        margin: 0 -20px;

        @media screen and (min-width: $bp-tablet) {
            margin: 0;
            flex: 1;
            border-radius: 32px;
            max-width: 605px;
            max-height: 481px;
        }

        @media screen and (min-width: $bp-desktop) {
            flex: 2;
        }
    }

    &__form {
        padding: 42px 24px;
        flex: 1;
        max-width: 423px;
        max-height: 481px;
        border-radius: 32px;
        background-color: var(--color-primary-dark);
        background-image: url("/img/modal_background.png");

        @media screen and (min-width: $bp-desktop) {
            padding: 48px 56px;
        }
    }

    &__form-field {
        margin-bottom: 16px;
    }
}