@use '../utils/' as *;

.footer {
    position: relative;
    background-image: url(/img/footer-background.png);
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 92px 66px;

    @media screen and (min-width: $bp-tablet) {
        padding: 56px 0px;
    }

    @media screen and (min-width: $bp-desktop) {
        padding: 56px 100px;
    }

    &::after {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            display: block;
            position: absolute;
            bottom: -19px;
            right: -31px;
            background-repeat: no-repeat;
            content: "";
            width: 247px;
            height: 152px;
            transform: scale(0.75);
            background-image: url("/img/cosmetics.png");
        }

        @media screen and (min-width: $bp-desktop) {
            bottom: 0;
            right: 0;
            transform: scale(1);
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            gap: 20px;
        }
    }

    &__logo {
        margin-bottom: 34px;

        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 0;
        }
    }

    &__nav,
    &__address {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 8px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            text-align: left;
            flex-basis: 50%;
            gap: 20px;
        }
    }

    &__icon:not(:last-child) {
        margin-right: 20px;

        @media screen and (min-width: $bp-tablet) {
            margin-right: 24px;
        }
    }

    &__menu,
    &__logo {
        @media screen and (min-width: $bp-tablet) {

            flex-basis: 50%;
        }

    }

    &__link,
    &__address-link {
        color: var(--color-primary-light);
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        margin-bottom: 16px;
        text-decoration: none;
    }

    &__address-list,
    &__address-info {
        @media screen and (min-width: $bp-tablet) {
            flex-basis: 50%;
        }
    }

    &__address-link {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            display: block;
            text-decoration: none;
            color: var(--color-primary-light);
        }
    }

    &__address-icon {
        fill: var(--color-primary-light);
        display: flex;
        flex-direction: row;
        justify-content: center;

        @media screen and (min-width: $bp-tablet) {
            justify-content: left;
        }
    }

    &__address-copyright {
        font-weight: 400;
        font-size: 13px;
        line-height: 100%;
        color: var(--color-secondary-gray-light);
    }
}