@use '../utils/' as *;

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 106px;
    padding-top: 16px;

    @media screen and (min-width: $bp-desktop) {
        background: #ffffff40;
        backdrop-filter: blur(10px);
        padding: 32px 0;
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__nav {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    &__links,
    &__social {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 56px;
        }

    }

    &__social {
        gap: 32px;
    }

    &__burger {
        background-color: transparent;
        border: none;
        width: 24px;
        height: 24px;
        padding: 0;
        fill: var(--color-primary-light);

        @media screen and (min-width: $bp-desktop) {
            display: none;

        }
    }
}