@use '../utils/' as *;

.hero-section {
    width: 100%;
    height: 346px;
    display: flex;
    align-items: center;
    background-image: url("/img/hero-background-mobile.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    @media screen and (min-width: $bp-tablet) {
        height: 100%;
        max-height: 688px;
        background-position: center;
        background-image: url("/img/hero-background.png");
    }

    @media screen and (min-width: $bp-desktop) {
        height: 820px;
        max-height: 100%;
        background-position: top;

    }


    &__conrainer {
        text-align: center;
        padding-bottom: 56px;

        @media screen and (min-width: $bp-tablet) {

            text-align: left;
            margin-left: 106px;
            padding-bottom: 126px;
        }
    }

    &__description {
        padding-top: 71px;
        font-size: 12px;

        @media screen and (min-width: $bp-desktop) {
            padding-top: 123px;
            font-size: 18px;
        }

    }

    &__title {
        font-weight: 700;
        font-size: 54px;
        line-height: 46px;
        margin-bottom: 32px;
        text-transform: capitalize;
        color: var(--color-primary-normal);

        @media screen and (min-width: $bp-desktop) {
            max-width: 530px;
            padding-top: 16px;
            font-size: 140px;
            line-height: 114px;
            margin-bottom: 40px;
        }
    }
}