.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 16px 24px;
    background-color: var(--color-primary-light);
    transform: translateX(100%);
    transition: transform 0.3s;

    &.is-open {
        transform: translateX(0);
    }

    &__btn-close {
        position: absolute;
        top: 16px;
        right: 20px;
        width: 12px;
        height: 12px;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    &__btn-close:hover {
        cursor: pointer;
    }

    &__links {
        // width: 128px;
        margin-top: 32px;
    }

    &__link {
        font-size: 14px;
        color: var(--color-primary-dark);
        text-decoration: none;
        padding-bottom: 16px;
    }

    &__link:hover {
        font-weight: 700;
        color: var(--color-primary-normal);
    }

    &__social {
        // width: 128px;
        display: flex;
        gap: 16px;
    }

}