@use '../utils/' as *;

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color-mix(in srgb,
            var(--color-secondary-blue),
            transparent 40%);
    transition:
        opacity 0.3s,
        visibility 0.3s;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}


.modal {
    position: relative;
    width: 100%;
    max-width: 723px;
    height: 100%;
    max-height: 681px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color-primary-dark);
    background-image: url("/img/modal_background.png");
    border-radius: 48px;
    overflow-y: auto;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
        padding: 42px 144px;
    }

    &__btn-close {
        position: absolute;
        top: 25px;
        right: 15px;
        border: 0;
        padding: 0;
        background-color: transparent;

        @media screen and (min-width: $bp-tablet) {
            top: 42px;
            right: 42px;
        }
    }

    &__icon {
        fill: transparent;
    }

    &__icon:hover {
        cursor: pointer;
    }

    &__form-field {
        margin-bottom: 24px;
    }

    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: var(--color-primary-light);

        @media screen and (min-width: $bp-desktop) {
            font-weight: 700;
            font-size: 64px;
            margin-bottom: 40px;
        }
    }

    &__form {
        padding: 0;

        @media screen and (min-width: $bp-desktop) {
            padding: 0 62.5px;
        }
    }
}